<h1>Users</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.email %>
      <%= button_to "Make Admin", user_url(user, admin: true), method: :patch unless user.admin %>
    </li>
  <% end %>
</ul>
