/* PHASE 4: Footer */

footer {
  margin: 0 0 50px 0;
}

footer nav {
  width: 900px;
  margin: auto;
  background: #fff;
  color: #aaa;
  border-radius: 0 0 5px 5px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

nav.footer small.footer-logo {
  float: left;
  padding: 20px;
}

nav.footer ul.footer-nav {
  float: right;
}

ul.footer-nav li {
  float: left;
  padding: 20px 20px 20px 0;
}

ul.footer-nav a:hover {
  color: #000;
}
