/* PHASE 9: Forms */

.content-main a.thumb {
  float: left;
}

.content-main .main-post-form {
  width: 498px;
  float: left;
  margin-left: 20px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

form .input {
  margin-bottom: 20px;
}

.input label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.input .field {
  display: block;
  background: #fff;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 478px;
  outline: none;
}

.input .field:focus {
  border: 1px solid #0c0;
}

.input textarea.field {
  height: 120px;
}

.submit {
  display: inline-block;
}

.submit button {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 20px;
  background: #0c0;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px #070;
}

.submit button:hover {
  background: #0a0;
}

.submit button:active {
  top: 3px;
  box-shadow: none;
  outline: none;
}

.submit button:focus {
  outline: none;
}

.main-post-form span {
  margin: 6px;
  font-size: 16px;
}

.main-post-form a {
  font-size: 16px;
  font-weight: 700;
}

.main-post-form a:hover {
  color: #f00;
}
